.CreateTodoButton {
    background-color: #1d3557;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 50px;
    position: fixed;
    bottom: 24px;
    right: 24px;
    font-weight: bold;
    color: #FAFAFA;
    height: 64px;
    width: 64px;
    z-index: 1;
}

